<ion-view view-title="Add new restaurant">
  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Restaurant name" ng-model="ctrl.searchTerm">
    </label>
    <button class="button button-small" ng-click="ctrl.search()">
      Search
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="bar" ng-show="ctrl.results.length == 0">
      <h2 class="title">No results</h2>
    </div>
    <ion-list ng-show="ctrl.results.length > 0">
      <ion-item ng-repeat="res in ctrl.results">
        <h2>{{res.name}}</h2>
        <p>{{res.url}}</p>
        <ion-option-button class="button-positive" ng-show="!res.added" ng-click="ctrl.add(res)">
          Add
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-show="res.added" ng-click="ctrl.remove(res)">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
